<ion-content [fullscreen]="true">
  <div class="center">
    <ion-card color="light">
      <img src="../../assets/logo4.png" alt="Logo">
      <ion-card-title class="ion-text-center">Vídeos App</ion-card-title>
      <ion-item lines="none" color="light">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline" color="dark">
        ENTRAR
      </ion-button>
      <ion-button expand="full" fill="clear" color="dark">
        REGISTRE-SE
      </ion-button>
    </ion-card>
  </div>
</ion-content>
